body {
    background-image: url('../assets/background.png');
    background-size: cover;
    overflow: hidden;
    margin: 0;
}

.game-screen {
    position: fixed;
    display: none;
}

.sidemenu {
    user-select: none;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    right: 0px;
    top: 0px;
    background-image: url('../assets/sidemenu/sidemenu.png');
    width: 15%;
    height: 100%;
    z-index: 2;
    
}

.close-sidemenu {
    user-select: none;
    position: fixed;
    width: 2%;
    top: 0px;
    right: 0px;
    z-index: 3;
    cursor: pointer;
}

.sidemenu :nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    pointer-events: all;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    cursor: pointer;
}

.sidemenu :nth-child(2) {
    pointer-events: all;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    cursor: pointer;
}

.sidemenu :nth-child(3) {
    pointer-events: all;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    cursor: pointer;
}

.sidemenu :nth-child(4) {
    pointer-events: all;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    cursor: pointer;
}

.sidemenu .icons img {
    width: 40%;
    cursor: pointer;
}
