.character {
    user-select: none;
    pointer-events: none;
    position: fixed;
    z-index: 1;
    
}

.island {
    user-select: none;
    display: inline;
    position: fixed;
    cursor: pointer;
    width: 20%;
    height: auto;
}
