.popup {
    display: none;
    position: fixed;
    left: 25%;
    top: 25%;
    background-color: antiquewhite;
    z-index: 3;
    width: 50%;
    height: 50%;
    opacity: 0.8;
}


.popup-container {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: column;

}

.popup-header {
    margin: 0;
    margin-top: 5%;
    user-select: none;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding: 2px;
    text-align: center;
}


.popup-input {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    width: 90%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.popup-text {
    user-select: none;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}

.popup-button {
    user-select: none;
    display: flex;
    margin: auto;
    font-size: 30px;
    margin-bottom: 5%;
    cursor: pointer;
    background-color: #4c5baf;
    color: white;
    padding: 1% 1%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.card-container {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    
}

.card {
    position: relative;
    width: 128px;
    height: 128px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 25px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card span {
    margin-top: 20px;
    display: block;
    color: rgb(116, 112, 112);
    font-size: 30px;
    font-weight: 400;
}
